<%@title = "Pick position, Current: " + @sourcefile.recorded_at.localtime.strftime("%Y-%m-%d %H:%M:%S")%>
<script>
function updtime(x) {
  $("#timepos").val(x.currentTime);
  wp = $("#wprogress");
  wp.css("left", (x.currentTime / x.duration) * 1280 + "px");
}
</script>

<% def imglink(sf)
  return unless sf
%>
<%=link_to image_tag("store/" + sf.preview_path, height: 180, skip_pipeline: true), pick_recording_path(sf, vod: params[:vod], pos: params[:pos]), title: sf.recorded_at.localtime.strftime("%Y-%m-%d %H:%M:%S"), skip_pipeline: true %>
<% end %>

<div style='float: right; width: 320px;'>
Prev
<% imglink Sourcefile.where(recording_id: @sourcefile.recording_id, nr: (@sourcefile.nr-1)).first %>
<br />
<br />
<% imglink Sourcefile.where(recording_id: @sourcefile.recording_id, nr: (@sourcefile.nr+1)).first %>
Next
</div>

<video id="preview" class="video-js" ontimeupdate="updtime(this)" preload="auto" width="1280" height="720" data-setup="{}" controls>
 <source src="<%=image_path("store/" + @sourcefile.video_path_mp4, skip_pipeline: true) %>" type='video/mp4'>
</video>


<% if params[:vod] %>
<%= form_tag setpos_vod_path(params[:vod]) do %>
<%=hidden_field_tag(:pos, params[:pos])%>
<%=hidden_field_tag(:sourcefile_id, @sourcefile.id)%>
<%=label_tag(:timepos, "Cut time position")%>
<%=text_field_tag(:timepos)%>
<%= submit_tag("Set") %>
<% end %>
<% else %>

<%= form_tag new_vod_path(), method: :get do %>
<%=hidden_field_tag(:pos, params[:pos])%>
<%=hidden_field_tag(:sourcefile_id, @sourcefile.id)%>
<%=label_tag(:timepos, "Cut time position")%>
<%=text_field_tag(:timepos)%>
<%= submit_tag("Start new vod here") %>
<% end %>

<% end %>

<div style="position: relative">
<div id="wprogress" style="position: absolute; left: 0px; border-right: 1px solid red; height: 480px; width: 1px;">
</div>
<%=image_tag("store/" + @sourcefile.waveform_path, skip_pipeline: true) %>
</div>

<script>
  $(document).ready(function() {
    var player = videojs('preview');
    player.ready(function() {
        this.currentTime(<%=params[:sec]%>);
    });
  });
</script>
