<%= form_for(@vod) do |f| %>
  <% if @vod.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@vod.errors.count, "error") %> prohibited this vod from being saved:</h2>

      <ul>
      <% @vod.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <%=f.label :name%> <%=f.text_field :name%> <br />
  <%=f.label :recording_id%> <%=f.select :recording_id, options_for_select(Recording.all.map {|r| [r.name, r.id]})%> <br />
  <%=f.label :start_pod%> <%=f.text_field :start_pos%> <br />
  <%=f.label :end_pod%> <%=f.text_field :end_pos%> <br />


  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
