<p id="notice"><%= notice %></p>

Name: <%=@vod.name%><br />
Recording: <%=@vod.recording.name%><br />
ElaineID: <%=@vod.elaineid%><br />
<% sf = Sourcefile.file_at(@vod.recording.id, @vod.start_pos) %>
Start: <%=@vod.start_pos%> <%=link_to "Pick", list_recording_path(@vod.recording, vod: @vod, pos: :start)%> |
<%=link_to 'Tune', pick_recording_path(sf, vod: @vod, pos: :start, sec: @vod.start_pos - sf.start_pos)%> <br />
<% sf = Sourcefile.file_at(@vod.recording.id, @vod.end_pos) %>
End: <%=@vod.end_pos%> <%=link_to "Pick", list_recording_path(@vod.recording, vod: @vod, pos: :end)%> |
<%=link_to 'Tune', pick_recording_path(sf, vod: @vod, pos: :end, sec: (@vod.end_pos || 0) - sf.start_pos)%> <br />


<div id="status">
  <%=render partial: "status" %>
</div>

<script>
function executeQuery() {
  $('#status').load('<%=vod_path(@vod, status: 1)%>');
  setTimeout(executeQuery, 1000);
}

$(document).ready(function() {
  setTimeout(executeQuery, 1000);
});

</script>


<%= link_to 'Edit', edit_vod_path(@vod) %> |
<%= link_to 'Back', vods_path %> | 
<%= link_to 'Do VOD', dovod_vod_path(@vod) %> |
<%= link_to 'Upload to tube', upload_vod_path(@vod) %>
